table{
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 1px double black;
    text-align: center;
    margin: auto;
}

td, th {
	padding: 3px;
	width: 50px;
	height: 50px;
}
th {
	background: white;
    border: none;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}

/* makes bolder when pass the mouse over the row or column */
td:hover{
font-weight: bolder;
font-size: xx-large;
}

th:hover{
    font-weight: bolder;
    font-size: xx-large;
    color: red;
    border: 5px darkblue dashed;
}