table,
th,
td {
  border: 1px solid black;
  text-align: center;

  /*by default  "border-collapse" is separated */
  border-collapse: collapse; /* this is for collapsing gaps in the table*/
}

th {
  font-weight: bold;
  color: blue;
  text-align: center;
}
